body{
	background-color: #FAF4BA;
}

h1{


}

.sleep{
	margin-left: 200px;
}

.food{
	margin-left: 200px;
}

.shop{
	margin-left: 200px;
}

footer{
	color: #FFFFFF;
	background-color: #FAE25D;
}